<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- 서블릿이 동작하기 전 외부 설정 파일 위치 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/config/root-context.xml</param-value>
	</context-param>
	
	<!-- 스프링이 처음 시작되면서, listener가 동작되고, 위에 선언된 root-context.xml이 모든 서블릿에서 공유되도록 스프링 초기설정파일로 선언 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 디스패쳐 서블릿을 appServlet으로 선언, 초기파라미터 값으로 스프링 설정파일 경로 -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value> <!-- 스프링 설정파일이 여러개 라면 줄바꿈으로 여러경로를 적어줍니다. -->
			/WEB-INF/config/servlet-context.xml
			/WEB-INF/config/servlet-context2.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- 위에 선언된 appServlet을 모든 경로에 대해서 맵핑 -->	
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern> <!-- 나중에는 *.do 이런식으로 사용된다. (.do로 끝나는 요청을 모두 appServlet(별칭)으로 보내주겠다.) -->
	</servlet-mapping>

	<!-- 한글처리 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<!-- 위에 지정한 encodingFilter이름을 모든 패턴에 적용 -->
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 에러처리에 대한 내용... -->

</web-app>
